.form {
	border: 1px solid black;
	padding: 10px;
	width: 400px;
	margin: 5px 20px;
}

.form div {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.form div input {
	width: 250px;
}

.cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	width: 20%;
	border: 1px solid black;
	padding: 10px;
	height: 300px;
	margin-bottom: 15px;
}
