@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
.form {
	border: 1px solid black;
	padding: 10px;
	width: 400px;
	margin: 5px 20px;
}

.App {
	font-family: Roboto !important;
}
.form div {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.form div input {
	width: 270px;
}

.cards {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.card {
	width: 20%;
	border-radius: 5px;
	padding: 10px;
	height: 350px;
	overflow-y: scroll;
	margin: 20px;
	background-color: rgba(255, 255, 255, 255);
}

.button_window {
	padding: 10px;
	margin: 10px 5px 10px 30px;
	border: none;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none !important;
}

.button_form {
	padding: 5px;
	margin: 10px 5px 10px 30px;
	border: none;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none !important;
	outline-color: white !important;
}

input {
	background-color: none;
	background: none;
	border: none;
	outline: none;
	border-bottom: 2px solid black;
}

img {
	width: 70%;
	height: 200px;
	margin: 5px auto;
	text-align: center;
	display: block;
}

.card h4 {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.card p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.App h1 {
	font-family: Nunito !important;
	color: white;
	border-bottom: 0.5px solid white;
}

.form {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	border: none;
}

@media (max-width: 450px) {
	.form {
		width: 300px;
	}
	h1 {
		font-size: 22px;
	}
	.card {
		width: 33%;
		height: 300px;
	}
	img {
		width: 100%;
		height: 100px;
	}
}
